{% extends 'base.html' %}

{% block title %}K-Means{% endblock title %}

{% block page-header %}
<section class="content-header">
    <h1>
      K-Means 聚类分析
      <small>K-Means Clustering</small>
    </h1>
</section>
{% endblock page-header %}

{% block sidebar %}
<script>
  window.algorithm_name = "kmeans";
</script>
{% endblock sidebar %}


{% block main-page %}
<div class="configuration-items">
  <div data-header="Task">
    <div>
        <section>
            <label for="taskName">任务名称</label><input name="taskName" class="form-control">
        </section>
        <section class="form-group">
            <label for="deployMode">部署模式</label>
            <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option selected="selected">Cluster</option>
                <option>Client</option>
              </select>
            <input name="deployMode" style="display: none">
        </section>
    </div>
  </div>
  <div data-header="Runtime">
      <div>
        <section>
            <label for="executorNumber">Executor数量</label><input name="executorNumber" class="form-control">
        </section>
        <section>
            <label for="driverMemory">驱动内存</label><input name="driverMemory" class="form-control">
        </section>
        <section>
            <label for="executorMemory">Executor内存</label><input name="executorMemory" class="form-control">
        </section>
      </div>
  </div>
  <div data-header="Algorithm">
    <div>
        <section>
            <label for="X-file">X-file路径</label><input name="X-file" class="form-control">
        </section>
        <section>
            <label for="C-file">C-file路径</label><input name="C-file" class="form-control">
        </section>
        <section>
            <label for="kValue">K值</label><input name="kValue" class="form-control">
        </section>
        <section>
            <label for="runs">runs</label><input name="runs" class="form-control">
        </section>
    </br>
        <section>
            <label for="maxi">maxi</label><input name="maxi" class="form-control">
        </section>
        <section>
            <label for="tol">tol</label><input name="tol" class="form-control">
        </section>
        <section>
            <label for="samp">samp</label><input name="samp" class="form-control">
        </section>
        <section>
            <label for="Y-file">Y-file路径</label><input name="Y-file" class="form-control">
        </section>
        <section>
            <label for="fmt">Format</label><input name="fmt" class="form-control">
        </section>
        <section>
            <label for="verb">verb</label><input name="verb" class="form-control">
        </section>
        <section class="form-group">
            <label for="isY">isY</label>
            <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option selected="selected">False</option>
                <option>True</option>
              </select>
            <input name="isY" style="display: none">
        </section>
    </div>
  </div>
</div>

<div class="command-preview-container">
    <textarea class="form-control" disabled="true" style="cursor: default; resize: none"></textarea>
    
    <button class="pull-right btn btn-default">提交<i class="fa fa-arrow-circle-right" style="margin-left: 6px"></i></button>
</div>
{% endblock main-page %}